{% extends "base.html" %}

{% block head %}
    <title>Quiz</title>
{% endblock %}

{% block content %}
<div class="container mt-5">

    <div class="mb-4">
        {% if word.stars < 3 %}
            <h3>Translate the word <strong>{{ word.eng }}</strong> to Polish</h3>
        {% else %}
            <h3>Translate the word <strong>{{ word.pol }}</strong> to English</h3>
        {% endif %}
    <form action="{{ url_for('quiz', index=index) }}" method="post">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row g-0">
                    <div class="col">
                        <input type="text" name="translation" class="form-control" placeholder="Enter translation..." autocomplete="off">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-secondary">Next Word</button>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="word_id" value="{{ word.id }}">
    </form>
    </div>

</div>

<script>
    // Automatically focus on the input field for each word
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('input[name="translation"]').focus();
    });
</script>
{% endblock %}